@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #f7ede2;
}

.contact h2{
    font-size:40px;
    color:#84A59D;
    text-align:center;
    margin-bottom:10px;
}

.contact form{
    width:600px;
    text-align:center;
}

form .input-box{
    display: flex;
    /* 均勻分布容器 */
    justify-content: space-between;
}

.input-box .input-field{
    width:48;
}

.field .item{
    width:100%;
    padding:18px;
    background: transparent;
    border:2px solid #84A59D;
    outline:none;
    border-radius:6px;
    font-size:16px;
    margin:10px 0;
}

/* 如果提交按了下去但沒有輸入任何資料，框框會變成紅色 */
.field.error .item{
    border-color : #d93025;
}

form .textarea-field .item{
    resize:none;
}

.field .error-txt{
    font-size:14.5px;
    color: #d93025;
    text-align:left;
    margin: -5px 0 10px;
    display:none;
}

.field.error .error-txt{
    display:block; 
}

form .textarea-field .error-txt{
    margin-top:-10px;
}

form button{
    padding:12px 32px;
    background: #F5CAC3;
    border:none;
    outline:none;
    border-radius:6px;
    font-size: 16px;
    color:#333;
    /* letter-spacing:增加字母的間距 */
    letter-spacing:1px;
    font-weight:600;
    cursor:pointer;
    margin-top: 20px;
    transition:.5s;
}







